.imageCard {
  /* width: 25%; */
  min-width: 200px;
  display: block;
  /* padding: 5px; */
  /* border: 2px solid lightgray; */
  /* margin: 5px; */
  /* border-radius: 8px; */
}

.profilePic {
  border-radius: 50%;
  max-width: 15%;
  margin-right: 5px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.postImage {
  width: 100%;
  padding: 5px 0;
}

.userInfo {
  display: flex;
  align-items: center;
}

.heart {
  width: 30px;
  padding-left: 10px;
  margin-right: 5px;
}

.likes {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.postInfo {
  padding: 10px;
}
