
body,html {
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  background-color: #FFE49D !important;
}

.SignPage form {
  margin: auto;
  max-width: 600px;
  padding: 10px;
}

.SignPage {
  padding: 120px 0 0 0; /*temporary fix for header*/

  background-color: white;

}