body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logoIcon {
  height: 50px;
  width: 50px;
}

.rightDivButtons {
  margin-right: 15px;
  background-color: rgb(189, 250, 250);
}

.sticky-nav {
  position: sticky;
  top: 0;
}

.sideMenu {
  width: 100%;
  padding-left: 20px;
}
.contentColumn {
  width: 80vw;
}

.menuColumn {
  padding-top: 20px;
  height: 100%;
  background: lightpink;
  /* float: right; */
  width: 20vw;
  position: fixed;
  left: 80vw;
  top: 66px;
}

.menuRow {
  padding-left: 10px;
  height: 7vh;
}

.menuRow:hover {
  background-color: linen;
}

.featuredRow {
  margin: 40px;
  margin-top: 100px;
  padding: 20px;
  height: 45vh;
  background-color: paleturquoise;
}

.postsColumn {
  margin: 40px;
  padding: 20px;
  height: 45vh;
  background-color: rgb(219, 219, 219);
}

body nav.navbar.navbar-expand-lg.navbar-light.bg-light.sticky-nav {
  position: fixed;
  width: 100vw;
}
