body {
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  background-color: bisque;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logoIcon {
  height: 50px;
  padding-left: 50px;
  
}

.rightDivButtons {
  margin-right: 15px;
  background-color: rgb(189, 250, 250);
}

.sticky-nav {
  position: sticky;
  top: 0;
}

.sideMenu {
  width: 100%;
  padding-left: 20px;
}
.contentColumn {
  width: 80vw;
}

.menuColumn {
  padding-top: 20px;
  height: 100%;
  background: lightpink;
  /* float: right; */
  width: 20vw;
  position: fixed;
  left: 80vw;
  top: 100px;
}

.menuRow {
  padding-left: 10px;
  width: 20vw;
  height: 7vh;
}

.menuRow:hover {
  background-color: linen;
}

.menuHead {
  padding-left: 10px;
}

.featuredRow {
  /* margin: 40px; */
  /* margin-top: 100px; */
  padding: 20px;
  height: 45vh;
  background-color: paleturquoise;
  border-radius: 20px;
}

.postsColumn {
  margin: 40px;
  padding: 20px;
  height: 45vh;
  background-color: rgb(219, 219, 219);
  border-radius: 20px;
}

/* body nav.navbar.navbar-expand-lg.navbar-light.bg-light.sticky-nav {
  position: fixed;
  width: 100vw;
} */

/* Add a black background color to the top navigation */
.topnav {
  background-color: #FFE49D;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  padding-right: 70px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navLeft{
  display: flex;
  align-items: center;
}

.navRight{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Change the color of links on hover */
/* .topnav a:hover {
  background-color: #ddd;
  color: black;
} */

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

input{
  vertical-align: middle;
}
.searchBar {
  display: list-item;
  float: left;
  border-radius: 15px;
  border-color: white;
  width: 300px;
  vertical-align: middle;
}

.navButtons {
  border-radius: 15px;
  width: 120px;
  margin-right: 15px;
  background-color: white;
  border-color: white;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: 25px; /*gutter size offset */
  margin-right: 25px;
  /* width: auto; */
  margin-top: 125px;
}
.my-masonry-grid_column {
  /* padding-left: 30px; gutter size */
  background-clip: padding-box;
}
 
/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  background:white;
  margin-bottom: 30px;

}

.masonryDiv {
  width: 95%;
  height: 420px;
  border-radius: 15px;
  margin-right: 15px;
  margin-left: 15px;
}
